@font-face {
    font-family: "Adobe";
    src: url("/font/Adobe-Garamond-Pro-Regular.ttf") format("ttf");
}

/**********************************GENERAL********************************************/
* {
    box-sizing: border-box;
    outline: none;
}

html,
body,
ul {
    padding: 0;
    margin: 0;
}



body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.8;
    background-color: rgba(167, 162, 162, 0.5);
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*************** Les Liens ****************/
a {
    text-decoration: none;
    color: #3f3f3f !important;
}

a:hover {
    color: #000000 !important;
}

/**********************************HEADER*********************************************/
.text {
    font-family: "adobe";
    position: absolute;
    top: 12px;
    left: 30px;
    color: beige !important;
    font-size: 30px;
}

#myHeader {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: transparent;
}

.header-nav {
    padding: 24px 0;
    margin: 0 48px;
}

.header-nav {
    text-align: right;
}

.header-nav a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: 0.025em;
    color: beige !important;
}

#background-image {
    position: relative;
    background-image: url("img/background.jpg");
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

/***********************************MAIN**********************************************/

.all-cards {
    padding: 100px 100px;

}

span {
    font-size: 1, 5cm,
}




/***********************************FOOTER********************************************/

footer {
    padding: 50px;
    padding-top: 120px;
    text-align: center;
}

footer nav a i {
    font-size: 3rem;
}

footer p {
    font-size: 1.3rem;
    max-width: 50%;
    margin: 80px auto;
}