body {
  background-color: #deb886;
}

.Bretagne {
  text-align: center;
  border-width: 50px;
  border-style: double;
  border-color: black;
  border-radius: 3cm;
  background-color: white;
}

span {
  font-size: 1.5cm;
}
